.DataTable {
    border: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-collapse: collapse;
}

.Chart {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

.Example {
    color: gray;
}

tr, td {
    border: 1px solid black;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: #dbdbdb;
}

.Headers {
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    background-color: #363636;
    color: white;
}

.SearchBox {
    text-align: center;
    margin-left: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

h3 {
    color: red;
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 4px;
}

.TextBox {
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
}